<!DOCTYPE html>
<html>
    <head>
        <style>
            .area {
              fill: steelblue;
              clip-path: url(#clip);
            }
        </style>
        <script src="https://d3js.org/d3.v4.min.js">
        </script>
        <title>
            Stats
        </title>
    </head>
    <body>
        <svg height="500" width="960">
        </svg>
        <a href="/ps">
            PROCESS
        </a> <br>
        <textarea style="margin: 0px;    
                        height: 250px;
                        width: 1000px;
                        font-size: 4px;
                        ">
            <%-process_data%>
        </textarea>
        <a href="/logs">
            LOGS
        </a>
    </body>
</html>
<script type="text/javascript">
    var data = <%-JSON.stringify(data)%>
</script>
<script src="./js/stats.js" type="text/javascript">
</script>
